{% extends "base.html" %}

{% block content %}
<!-- login form starts -->
<div class="login-form">
    <form action="{{url_for('login')}}" method="post">
        <div id="close-login-form" class="fas fa-times"></div>
        <a href="#" class="logo mr-auto"> <i class="fas fa-mug-hot"></i> Coffee Tales </a>
        <h3>Let's start a new great day</h3>
        <input type="email" name="email" placeholder="enter your email" id="" class="box">
        <input type="password" name="password" placeholder="enter your password" id="" class="box">
        <input type="submit" value="login now" class="link-btn">
        <p class="account">Don't have an account? <a href="{{url_for('regi') }}">Create One!</a></p>
    </form>
</div>

<!-- login form ends -->

<!-- header section ends    -->

<!-- home section starts  -->

<section class="home" id="home">
    <div class="container">
        <div class="row align-items-center text-center text-md-left min-vh-100">
            <div class="col-md-6">
                <span>Drink Coffee with Share Tales</span>
                <h3>Start your awsome day with our Coffee</h3>
                <a href="{{ url_for('order') }}" class="link-btn">ORDER NOW</a>
            </div>
        </div>
    </div>
</section>

<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about">

    <div class="container">

        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='images/ab.jpg') }}" class="w-100" alt="">
            </div>
            <div class="col-md-6">
                <span>Why choose us?</span>
                <h3 class="title">The best coffee maker in the town</h3>
                <p>A single cup of coffee can create a friendship that lasts for 40 years.---- Old Turkish Saying
                </p>

                <p>-- Coffee is endowed with friendship, affection and sharing. We as “Coffee Tale” have embarked on
                    this new journey to offer you a friendly warm place.
                    -- We are aware of the value of drinking organic coffee and tea, and want to share it with you.
                    You will feel the freshness and be in love with it.
                    -- We are also committed to protecting the environment as our cups, lids and utensils are all
                    eco-friendly.
                    -- Some of our specialties include authentic Cold Brew Coffee paired with our European Macaroons
                    or our Breakfast Bistro Plate, and traditional Turkish Coffee, paired with Turkish Delights..
                </p>
                <a href="{{ url_for('about_us_read_more') }}" class="link-btn">Read more</a>
                <div class="icons-container">
                    <div class="icons">
                        <i class="fas fa-coffee"></i>
                        <h3>Best Coffee</h3>
                    </div>
                    <div class="icons">
                        <i class="fas fa-shipping-fast"></i>
                        <h3>Home Delivery</h3>
                    </div>
                    <div class="icons">
                        <i class="fas fa-headset"></i>
                        <h3>24/7 Service</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- about section ends -->

<!-- menu section starts  -->

<section class="menu" id="menu">

    <h1 class="heading"> Our Menu </h1>

    <div class="container box-container">

        <div class="box">
            <img src="{{ url_for('static', filename='images/menu-1.png') }}" alt="">
            <h3>CAPPUCCINO</h3>
            <p>An espresso with steamed milk and only a little milk foam poured over it.</p>
            <a href="{{ url_for('menu_read_more') }}" class="link-btn">Read more</a>
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='images/menu-2.png') }}" alt="">
            <h3>COLD BREW COFFEE</h3>
            <p>Espresso poured on a vanilla ice cream. Served in a cappuccino cup.</p>
            <a href="{{ url_for('menu_read_more') }}" class="link-btn">Read more</a>
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='images/menu-3.png') }}" alt="">
            <h3>ESPRESSO</h3>
            <p>An espresso with steamed milk and only a little milk foam poured over it.</p>
            <a href="{{ url_for('menu_read_more') }}" class="link-btn">Read more</a>
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='images/menu-4.png') }}" alt="">
            <h3>CAFFÈ MOCHA</h3>
            <p>Espresso poured on a vanilla ice cream. Served in a cappuccino cup.</p>
            <a href="{{ url_for('menu_read_more') }}" class="link-btn">Read more</a>
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='images/menu-5.png') }}" alt="">
            <h3>CAFFÈ LATTE</h3>
            <p>An espresso with steamed milk and only a little milk foam poured over it.</p>
            <a href="{{ url_for('menu_read_more') }}" class="link-btn">Read more</a>
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='images/menu-6.png') }}" alt="">
            <h3>ICED LATTE</h3>
            <p>Espresso poured on a vanilla ice cream. Served in a cappuccino cup.</p>
            <a href="{{ url_for('menu_read_more') }}" class="link-btn">Read more</a>
        </div>

    </div>

</section>

<!-- menu section ends -->

<!-- gallery section starts  -->

<section class="gallery" id="gallery">

    <h1 class="heading"> our gallery </h1>

    <div class="box-container container">

        <div class="box">
            <img src="{{ url_for('static', filename='images/g-img-1.jpg') }}" alt="">
            <div class="content">
                <h3>Morning coffee</h3>
                <p>Coffee is a way of stealing time which should by rights belong to your older self.

                    — Terry Pratchett</p>
            </div>
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='images/g-img-2.jpg') }}" alt="">
            <div class="content">
                <h3>Afternoon coffee</h3>
                <p>No one can understand the truth until he drinks of coffee's frothy goodness.

                    — Sheik Abd-al-Kabir
                </p>
            </div>
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='images/g-img-3.jpg') }}" alt="">
            <div class="content">
                <h3>Night coffee</h3>
                <p>To an old man a cup of coffee is like the door post of an old house — it sustains and strengthens
                    him.

                    — Old Bourbon Proverb</p>
            </div>
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='images/g-img-4.jpg') }}" alt="">
            <div class="content">
                <h3>Night coffee</h3>
                <p>To an old man a cup of coffee is like the door post of an old house — it sustains and strengthens
                    him.

                    — Old Bourbon Proverb</p>
            </div>
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='images/g-img-5.jpg') }}" alt="">
            <div class="content">
                <h3>Morning coffee</h3>
                <p>Coffee is a way of stealing time which should by rights belong to your older self.

                    — Terry Pratchett</p>
            </div>
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='images/g-img-6.jpg') }}" alt="">
            <div class="content">
                <h3>Afternoon coffee</h3>
                <p>No one can understand the truth until he drinks of coffee's frothy goodness.

                    — Sheik Abd-al-Kabir
                </p>
            </div>
        </div>

    </div>

</section>

<!-- gallery section ends -->

<!-- reviews section starts  -->

<section class="reviews" id="reviews">

    <h1 class="heading">Customers Reviews</h1>

    <div class="box-container container">

        <div class="box">
            <img src="{{ url_for('static', filename='images/sadia.jpg') }}" alt="">
            <h3>Sadia</h3>
            <p>I was drinking 100% Kona coffee for a while (and, yes, paying for it), but then moved someplace where
                the price would have been astronomical, so I had to change brands. I gave "Real Good Coffee" a try.
                When I first received it, I thought "uh oh." The beans were really dark and almost greasy-looking
                (the beans DO get a little more stuck in my coffee grinder, but that's really no big deal).</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>

            </div>
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='images/Harshad.jpg') }}" alt="">
            <h3>Harshad</h3>
            <p>I am sooo glad I took the chance and bought this.. the aroma was out of this world while brewing and
                it produced a rich flavorful cup of Joe.. would absolutely recommend this.. I bought the whole beans
                and will define buying more!</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='images/marwa.jpg') }}" alt="">
            <h3>Marwa</h3>
            <p>I was drinking 100% Kona coffee for a while (and, yes, paying for it), but then moved someplace where
                the price would have been astronomical, so I had to change brands. I gave "Real Good Coffee" a try.
                When I first received it, I thought "uh oh." The beans were really dark and almost greasy-looking
                (the beans DO get a little more stuck in my coffee grinder, but that's really no big deal).</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

    </div>

</section>

<!-- reviews section ends -->

<!-- contact section starts  -->

<section class="contact" id="contact">

    <h1 class="heading"> Contact us </h1>

    <div class="container">

        <div class="contact-info-container">

            <div class="box">
                <i class="fas fa-phone"></i>
                <h3>Phone</h3>
                <p>+0181000010X0</p>
                <p>+0191232323X2</p>
            </div>

            <div class="box">
                <i class="fas fa-envelope"></i>
                <h3>Email</h3>
                <p>nurtaj2012@gmail.com</p>
                <p>coffeetale_mkn@gmail.com</p>
            </div>

            <div class="box">
                <i class="fas fa-map"></i>
                <h3>Address</h3>
                <p>Dhaka,Bangladesh</p>
            </div>

        </div>

    </div>

</section>

<!-- contact section ends -->

<!-- blogs section starts  -->

<section class="blogs" id="blogs">

    <h1 class="heading"> Our daily posts </h1>

    <div class="box-container container">

        <div class="box">
            <div class="image">
                <img src="{{ url_for('static', filename='images/ved.jpg') }}" alt="">
            </div>
            <div class="content">
                <h3>Video</h3>
                <p>This is a personal blog as I wanted to share how blogging has personally changed my life. </p>
                <a href="{{ url_for('blogs') }}" class="link-btn">Read more</a>
            </div>
            <div class="icons">
                <span> <i class="fas fa-calendar"></i> 12 September, 2022 </span>
                <span> <i class="fas fa-user"></i> by admin </span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{{ url_for('static', filename='images/recep.jpg') }}" alt="">
            </div>
            <div class="content">
                <h3>Recipe</h3>
                <p>This is a personal blog as I wanted to share how blogging has personally changed my life. </p>
                <a href="{{ url_for('blogs') }}" class="link-btn">Read more</a>
            </div>
            <div class="icons">
                <span> <i class="fas fa-calendar"></i> 13 September, 2022 </span>
                <span> <i class="fas fa-user"></i> by admin </span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{{ url_for('static', filename='images/int.jpg') }}" alt="">
            </div>
            <div class="content">
                <h3>Interior</h3>
                <p>This is a personal blog as I wanted to share how blogging has personally changed my life. </p>
                <a href="{{ url_for('blogs') }}" class="link-btn">Read more</a>
            </div>
            <div class="icons">
                <span> <i class="fas fa-calendar"></i> 11 September, 2022 </span>
                <span> <i class="fas fa-user"></i> by admin </span>
            </div>
        </div>

    </div>

</section>

<!-- blogs section ends -->

<!-- newsletter section starts  -->

<section class="newsletter">
    <div class="container">
        <a href="#" class="logo"> <i class="fas fa-mug-hot"></i> COFFEE TALES </a>
        <h3>We are happy to have you.</h3>
        <p>Thanks For Being with Us.</p>
    </div>
</section>

<!-- newsletter section ends -->

<!-- footer section starts  -->

<section class="footer container">

    <a href="#" class="logo"> <i class="fas fa-mug-hot"></i> COFFEE TALES </a>

    <p class="credit"> created by <span>Marwa Khanom Nurtaj & Sadia Zamal</span> | all rights reserved! </p>

    <div class="share">
        <a href="https://www.facebook.com/thecoffeetale/" class="fab fa-facebook-f"></a>
        <a href="https://www.instagram.com/thecoffeetale/" class="fab fa-instagram"></a>
        <a href="https://twitter.com/thecoffeetale/" class="fab fa-twitter"></a>
    </div>

</section>
{% endblock %}